@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Josefin Sans", sans-serif;
}

img {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.page .mainn h2 {

    font-size: 45px;
    color: aliceblue;
    padding: 5px;
    text-shadow: 3px 3px 3px #000;


}

.page .mainn h3 {
    font-size: 40;
    color: aliceblue;
    padding: 5px;
    font-family: cursive;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 2px #000;
}

.page .mainn a {

    font-size: 27;
    color: white;
    position: relative;
    bottom: 10px;
    background-color: #ee0e0e;
    transition-duration: 1s;
    border-radius: 25px;
    margin: 0;
    padding: 10px 20px 0 20;
    border: 1.8px solid rgb(20, 19, 19);
    text-decoration: none;
}

.page .mainn a:hover {
    background-color: #00bcd4;
    transition-duration: 1s;
}

.page {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(http://www.textures4photoshop.com/tex/thumbs/restaurant-food-frame-with-rustic-wood-background-free-93.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(65%);
}

.mainn {
    position: absolute;
    overflow-y: hidden;
}

.navbar {
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #1a1b19;
}

.nav-list {
    list-style-type: none;
    display: flex;
    height: 50px;
    justify-content: space-around;
   
}

.nav-item {
    align-items: center;
    margin: 0;
}

.nav-link {
    position: relative;
    top: 15px;
    color: white;
    align-items: center;
    text-align: center;
    padding: 10px 40px 0;

}

.nav-link:hover {
    border-bottom: 3px solid #0ebaee;

}

.nav-list .content {
    align-items: center;
    margin: 0;
}



@media screen and (max-width : 876px) {
    

    .navbar {
        background-color: #000;
    }

    .nav-link {
        padding: 10 30;
    }

    .page .main h2 {
        font-size: 30px;
    }

    .nav-list {
        justify-content: space-between;
    }

    .page .main h3 {
        font-size: 30px;
    }

    .page .main a {
        font-size: 25;
    }
}

/*content section*/
.menu {
    background-color: #fff;
}

.menu h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    font-weight: 700px;
    margin: 20px;
    text-align: center;
}

.container {
    width: 100%;
    justify-content: space-around;
    display: flex;
    transition-duration: 5s;
    margin-top: 40px;
}

.box {
    cursor: pointer;
    padding: 10px;
    box-shadow: #000;
    border: 1px solid;
    width: 350px;
    border-radius: 10px;

}

.box:hover {

    background-color: #fe5722;
    color: #fff;
}

.color {
    background-color: #fe5722;
    border-radius: 10px;
    color: #fff;
}

.box h3 {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}

.box p {
    font-family: "Josefin Sans", sans-serif;
    margin-top: 70px;
    text-align: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: #575757;
}

.img {
    margin-top: 140px;
    padding: 30px;

}




.main .content {
    padding: 20px;
    position: relative;
    left: 110px;
    margin-top: 300px;
}

.content h2 {
    color: #322f2f;
    margin-bottom: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 44px;
    font-weight: 400px;
}

.content h1 {
    margin-bottom: 20px;
    color: #322f2f;
    font-size: 50px;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
}

.content h4 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    font-size: 24px;
    margin-bottom: 20px;
}

.content .para {
    margin-bottom: 20px;
}

.content .explore-box {
    font-family: "Josefin Sans", sans-serif;
    padding: 10px;
    font-size: 25px;
    border: 1px solid #322f2f;
    width: 160px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    background-color: #f05424;
}

@media screen and (max-width : 876px) {
    .container {
        text-align: center;
        display: block;
        padding: 50px;
        margin-top: 0;
    }

    .menu h1 {
        margin: 0;
        margin-top: 80;
    }



    .color {
        margin-top: 30px;
        width: 372.4;
        margin-bottom: 30;
    }

    .main {
        width: 100%;
        height: 1000;
        margin-top: 0;
        overflow-y: hidden;
    }

    .img {
        margin-top: 0;
    }

    .main img {
        height: 400;
        width: 400;
        margin-left: 20px;
        margin-top: 0;
    }

    .main .content {
        position: relative;
        left: 0;
        margin: 0px;

    }

    .content h2 {
        font-size: 32px;
        text-align: center;
    }

    .content {
        text-align: center;
    }

    .explore-box {
        margin-left: 130;
    }
}

/*content section ends*/


/*menu section*/
.heading ul {
    display: flex;
    justify-content: center;
}

li {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 0 15px;
}

.contain {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.boxes {
    justify-content: space-between;
    padding: 50;
    width: 270px;
    height: fit-content;
}

.boxes .text {
    font-weight: 300;
    color: #3c3b3b;
    margin: 8px 0;
    font-family: "Josefin Sans", sans-serif;
}

.boxes span {
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
}

.boxes .side {
    display: flex;
    justify-content: space-between;
    margin-top: 20;
    font-family: "Josefin Sans", sans-serif;
}

.boxes .side span {
    margin-left: 9px;
    margin-top: 10px
}

.boxes .side .text-1 {
    border: 1px solid #f05424;
    margin-right: 20px;
    color: #f05424;
    border-radius: 5px;
    padding: 8;
}

@media screen and (max-width : 876px) {

    .heading li {
        margin: 0 10px;
    }

    .boxes img {
        height: 130px;
        width: 180px;
    }

    .boxes {
        padding: 30px;
        width: 180px;
    }

    .boxes span {
        font-size: 15px;
    }

    .boxes .side span {
        position: relative;
        font-size: 18px;
        margin: 0;
        top: 10;
    }

    .boxes .side .text-1 {
        margin: 0;
        width: 90px
    }

    .boxes .side {
        overflow-y: hidden;
    }
}

/*menu section ends*/

/*chef section starts*/

.chef-hed {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    margin-top: 50px;
}

.chef {
    overflow-y: hidden;
    padding: 30px;
    display: flex;
    margin-top: 60;
    justify-content: space-between;
}

.chef-box p {
    text-align: center;
    margin-top: 10px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;

}

@media screen and (max-width:876px) {

    .chef {
        display: block;
        padding-left: 30;
    }

    .chef-box p {
        display: flex;
        font-size: 20;
        margin-top: 170;
        text-align: start;
    }

    .media-1 {
        height: 300;
        width: 300;
    }

    .media-2,
    {
    height: 200;
    width: 300;
}

.media-3 {
    height: 250;
    width: 250;
}

.left {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    left: 100;
}

.rel {
    display: flex;
}

.chef-box {
    display: flex;
    width: 800;

}
}

/*chef section ends*/
/*about section starts*/
.about {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 150px;
    justify-content: space-between;
}

.abt-img {
    margin-right: 50px;
}

.contents {
    width: 700px;
    margin-top: 200;
    margin-left: 50;
    padding: 40;
}

.lit {
    padding: 10;
    display: flex;
}

.contents .font {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 20px;
}

.contents .fonts {
    margin-top: 30px;
    padding: 10;
}

.lit img {
    border-radius: 50%;
}

.lit span {
    margin-left: 20;
    margin-top: 12;
}

@media screen and (max-width:876px) {


    .about {
        flex-direction: column-reverse;
        width: 100%;
        overflow-y: hidden;
        height: 800;
        justify-content: center;


    }

    .abt-img img {
        align-items: center;
        margin-top: 20;
        height: 350;
        width: 320;
        padding: 50;
        margin-left: 50;
    }

    .contents {
        padding: 0;
        width: 100%;
        margin: 0;
        text-align: center;
        flex-wrap: wrap;
    }

    .lit {
        justify-content: center;
    }

}

/*about section ends*/

/*question section starts*/
.h {
    margin-top: 150;
    text-align: center;
    margin-bottom: 50;
}

summary {
    padding: 1em;
    border: 1px solid #b2b2b2;
    margin-bottom: 1em;
    cursor: pointer;
    outline: none;
    border-radius: 0.3em;
    font-weight: 600;
    width: 800;
    margin-left: 350;
}

.detil p {
    margin-left: 350;
}


details summary {
    margin-top: 10;
}

summary::marker {
    content: '';

    font-size: 2rem;
}

@media screen and (max-width:876px) {
    summary {
        margin-left: 20;
        width: 420;
    }

    .detil p {
        margin-left: 20;
    }

    .h {
        margin-top: 10;
    }
}

/*question section ends*/
/*app section starts*/

.main-11 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: #575757;
}

.img-11 {
    margin-top: 140px;
    padding: 30px;

}

.main-11 .content-11 {
    padding: 20px;
    position: relative;
    left: 110px;
    margin-top: 450px;
}

.para-11 {
    text-align: center;
}

.content-11 h2 {
    color: #322f2f;
    text-align: center;
    margin-left: 10;
    margin-bottom: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 44px;
    font-weight: 400px;
}


.content-11 p {
    margin-left: 10px;

}

.content-11 .explore-box-11 {
    font-family: "Josefin Sans", sans-serif;
    padding: 10px;
    font-size: ;
    display: flex;
    border: 1px solid #322f2f;
    width: 160px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-top: 30;
    margin-left: 10;
    background-color: #000000;
}

.content-11 .explore-box-11 span {
    font-size: 16px;
    margin-left: 20;

}

.content-11 .explore-box-11 p {
    font-size: 10;
    line-height: 1.5;
}

.dis {
    display: flex;
    text-align: end;
    justify-content: center;

}

.content-11 {
    margin-top: 400;
}

@media screen and (max-width:876px) {

    .main-11 {
        flex-direction: column;
        height: 1000;
        justify-content: center;
    }

    .img-11 {
        margin-top: 0;
    }

    .img-11 img {
        height: 500;
        width: 400;
        margin-left: 30;
    }

    .main-11 .content-11 {
        width: 100%;
        margin: 0;
        position: relative;
        left: 0;
        padding: 0;

    }

    .content-11 h2 {
        font-size: 32px;
    }
}


/*app section ends*/
/*footer section starts*/
.footer {
    background-color:rgb(38, 38, 40);
    color: #b2b2b2;
    padding: 30px 0;
  }
  
  .footer .container {
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .footer ul {
    list-style: none;
    line-height: 30px;
    font-size: 16px;
  }
  
  .footer ul li {
    cursor: pointer;
  }
  
  .footer-about {
    width: 35%;
  }
  
  .copyright {
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    border-top: 1px solid #b2b2b2;
  }

  @media screen and (max-width:876px) {
  .footer-about{
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .footer .container {
    padding: 0;
  }
    .footer-category{
        display: none;
    }
    .quick-links{
        display: none;
    }
    .get-in-touch{
        display: none;
    }
  }
/*footer section ends*/
